{% extends "base.html" %}
{% block content %}
<h1>Testusers bethistory</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Bet type</th>
            <th>Event</th>
            <th>Pick</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Odds</th>
            <th>Current state</th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan pelit tähän -->

        <tr>
            <td>Single</td>
            <td>e-sports</td>
            <td>NaVi</td>
            <td>16.03.2016</td>
            <td>100.00</td>
            <td>3.00</td>
            <td><font color="green">+200.00</font></td>
        </tr>
    </tbody>
</table>

{% endblock %}