{% extends "base.html" %}
{% block content %}
<h2>Open bets</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Bettype</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Odds</th>
            <th>Current state</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan pelit tähän -->

        <tr>
            <td><a href="1">Single</a></td>
            <td>16.03.2017</td>
            <td>100.00</td>
            <td>30.00</td>
            <td><a href="1">open</td>
        </tr>
        
        <tr>
            <td><a href="#">Single</a></td>
            <td>16.03.2017</td>
            <td>20.00</td>
            <td>2.50</td>
            <td><a href="1">open</td>
        </tr>
        
        <tr>
            <td><a href="#">Single</a></td>
            <td>16.03.2017</td>
            <td>50.00</td>
            <td>1.66</td>
            <td><a href="1">open</td>
        </tr>

    </tbody>
</table>

{% endblock %}