{% extends "base.html" %}
{% block content %}
<div style="border: 10px solid green;padding: 20px;margin: 20px">

    Site: {{ticket.site}}
    Amount {{ticket.amount}}
    
    {% for bet in bets %}
    {{bet.odds}}
    {% endfor %}
</div>

    <div class="form-group">
        <a class="btn btn-success btn-lg" href="{{base_path}}">Confirm Bet</a>
    </div>

<form method="post" action="{{base_path}}/ticket/{{ticket.id}}/add">
    
    <h3>Enter another event:</h3>

    <div class="form-group">
        <label>Sport type</label>
        <input type="text" name="sport" class="form-control">
    </div>

    <div class="form-group">
        <label>Event</label>
        <input type="text" name="event" class="form-control">
    </div>

    <div class="form-group">
        <label>Your pick</label>
        <input type="text" name="endresult" class="form-control">
    </div>

    <div class="form-group">
        <label>Odds</label>
        <input type="text" name="odds" class="form-control">
    </div>

    <div class="form-group">
        <label>Eventdate</label>
        <input type="text" name="eventdate" class="form-control">
    </div>
    <div class ="form-group">
        <button type="submit"  class="btn btn-primary">Add Event</button>
    </div>
</form>

{% endblock %}