{% extends "base.html" %}
{% block content %}
<div style="border: 6px solid green;padding: 20px;margin-bottom: 20px;margin-top: 20px">
    <font color="green" size ="6">Ticket Details:</font>
    <table style="width:100%; border:1px solid black;">
  <tr>
    <th>Site</th>
    <th>Amount</th> 
    <th>Odds</th>
  </tr>
  <tr>
    <td>{{ticket.site}}</td>
    <td>{{ticket.amount}}</td> 
    <td>{{ticket.odds}}</td>
  </tr>
</table>
    <font color="green" size ="4">Events on ticket:</font>
        <table style="width:100%; border-collapse: collapse">
  <tr>
    <th>Sport</th>
    <th>Event</th> 
    <th>Your pick</th>
    <th>Odds</th>
    <th>Event date</th>
  </tr>
  {% for bet in bets %}
  <tr>
    <td>{{bet.sport}}</td>
    <td>{{bet.event}}</td> 
    <td>{{bet.endresult}}</td>
    <td>{{bet.odds}}</td>
    <td>{{bet.eventdate}}</td>
  </tr>
  {% endfor %}
</table>

</div>

    <div>
        <a style="margin-bottom: 10px" class="btn btn-success btn-lg" href="{{base_path}}">Bet is Ready</a>
        <form method="post" action="{{base_path}}/ticket/{{ticket.id}}/delete">
            <button type="submit"  class="btn btn-danger">Cancel</button>
        </form>
    </div>

<form method="post" action="{{base_path}}/ticket/{{ticket.id}}/add">
    
    <h3>Enter another event:</h3>

    <div class="form-group">
        <label>Sport type</label>
        <input type="text" name="sport" class="form-control">
    </div>

    <div class="form-group">
        <label>Event</label>
        <input type="text" name="event" class="form-control">
    </div>

    <div class="form-group">
        <label>Your pick</label>
        <input type="text" name="endresult" class="form-control">
    </div>

    <div class="form-group">
        <label>Odds</label>
        <input type="text" name="odds" class="form-control">
    </div>

    <div class="form-group">
        <label>Eventdate</label>
        <input type="text" name="eventdate" class="form-control">
    </div>
    <div class ="form-group">
        <button type="submit"  class="btn btn-primary">Add Event</button>
    </div>
</form>

{% endblock %}