
{% extends "base.html" %}
{% block content %}
  <h1>TestUsers Bethistory</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Site</th>
        <th>Amount</th>
        <th>CurrentState</th>
        <th>Added</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for ticket in tickets %}
        <tr>
          <td>{{ticket.site}}</td>
          <td>{{ticket.amount}}</td>
          <td>
              {% if ticket.currentstate %}
                <label class="label label-success">Won
              {% else %}
                <label class="label label-danger">Lost
              {% endif %}
          </td>
          <td>{{ticket.added}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/game/{{game.id}}/edit">Modify</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}