{% extends "base.html" %}
{% block content %}
<h1>New Bet</h1>

<form method="post" action="{{base_path}}/ticket">
    <div class="form-group">
        <label>Site</label>
        <input type="text" name="site" class="form-control">
    </div>

    <div class="form-group">
        <label>Amount</label>
        <input type="text" name="amount" class="form-control">
    </div>

    <div class="form-group">
        <label>Added</label>
        <input type="text" name="added" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Bet</button>
    </div>
</form>
{% endblock %}