{% extends "base.html" %}
{% block content %}
<div style="border: 10px solid green;padding: 20px;margin-bottom: 20px;margin-top: 20px">
    <font size="6">Your ticket is empty... add an event.</font>
</div>

<form method="post" action="{{base_path}}/ticket/new">

    <h3>Enter your ticket details:</h3>
    <div class="form-group">
        <label>Site</label>
        <input type="text" name="site" class="form-control">
    </div>

    <div class="form-group">
        <label>Amount</label>
        <input type="text" name="amount" class="form-control">
    </div>

    <h3>Enter event details:</h3>

    <div class="form-group">
        <label>Sport type</label>
        <input type="text" name="sport" class="form-control">
    </div>

    <div class="form-group">
        <label>Event</label>
        <input type="text" name="event" class="form-control">
    </div>

    <div class="form-group">
        <label>Your pick</label>
        <input type="text" name="endresult" class="form-control">
    </div>

    <div class="form-group">
        <label>Odds</label>
        <input type="text" name="odds" class="form-control">
    </div>

    <div class="form-group">
        <label>Eventdate</label>
        <input type="date" name="eventdate" value="2017-01-01" class="form-control">
    </div>
    <div class ="form-group">
        <button type="submit"  class="btn btn-primary">Add Event</button>
    </div>
</form>

{% endblock %}