
{% extends "base.html" %}
{% block content %}

<div class="pull-right">
    <p>
        <a href="{{base_path}}/ticket/new" class="btn btn-success btn-lg btn-">New Bet</a>
    </p>
</div>
<h2>Tickets with open bets</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Site</th>
            <th>Closing Date</th>
            <th>Amount</th>
            <th>Odds</th>
            <th>Declare/Close Events</th>
        </tr>
    </thead>

    <tbody>

        {% for ticket in tickets %}
        <tr>
            <td>{{ticket.site}}</td>
            <td>{{ticket.closingdate}}</td>
            <td>{{ticket.amount}}</td>
            <td>{{ticket.odds}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/ticket/{{ticket.id}}/declare">Click</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}